<article class="post-card home-template {{ page.home ? 'home-template' }}">
{% if feature_image %}
<a class="post-card-image-link" href="{{post.url}}">
    <div class="post-card-image" style="background-image: url({{feature_image}})" alt="{{ post.title }}"></div>
</a>
{% else %}
<div class="post-card-image" style="background-image: url(https://source.unsplash.com/{{ theme_config.header.featured_image }})" alt="cover"></div>
{% endif %}
<div class="post-card-content">
<a class="post-card-content-link" href="{{post.url}}">
    <header class="post-card-header">
        {% if primary_tag %}
            <span class="post-card-tags">{{primary_tag.name}}</span>
        {% endif %}
        <h2 class="post-card-title">{{post.title}}</h2>
    </header>
</a>
<footer class="post-card-meta">
    <ul class="author-list">
        {% for author in authors  %}
            <li class="author-list-item">
                <div class="author-name-tooltip">
                    {{name}}
                </div>
                {% if profile_image %}
                    <a href="{{url}}" class="static-avatar"><img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /></a>
                {% else %}
                    <a href="{{url}}" class="static-avatar author-profile-image">{icons_avatar}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</footer>
</div>
</article>